.main-div {
    width: 200px;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: auto;
    border: 1px solid #dab3b3 !important;
    padding: 5px;
    border-radius: 6px;
}

.main-div:hover {
    cursor: auto;
}

.user-name {
    font-style: italic;
    color: #433f3f;
}

.user-address {
    color: #5f5454;
    margin-top: 5px;
    line-height: 18px;
}

.user-items {
    font-style: italic;
    color: #505050;
}

.user-items-list {
    color: blue;
}